return {
  "epwalsh/obsidian.nvim",
  version = "*",   -- recommended, use latest release instead of latest commit
  cmd = {
    "ObsidianToday",
  },
  lazy = true,
  ft = "markdown",
  dependencies = {
    "nvim-lua/plenary.nvim",
    "nvim-telescope/telescope.nvim",
    "nvim-treesitter/nvim-treesitter",
  },
  opts = {
    workspaces = {
      {
        name = "black",
{{- if eq .chezmoi.os "darwin" }}
        path = "~/personal_data/Black Vault",
{{- else }}
        path = "~/Documents/Black Vault",
{{- end }}
      },
    },

    daily_notes = {
      folder = "Calendar/Daily",
      template = "Daily Template.md",
    },

    templates = {
      subdir = "Atlas/Templates",
    },

    disable_frontmatter = true,

    ui = {
      enable = false
    },

  },
}
